.itemCard {
	text-align: center;
	background: rgba(255, 255, 255, 0.3);
	width: 300px;
	padding: 20px;
	margin: 10px auto;
	border-radius: 5px;
	transition: 0.5s;

	button {
		font-family: 'Noto Emoji', sans-serif;
		display: inline-block;
		background: none;
		aspect-ratio: 1;
		height: 30px;
		border: none;
		opacity: 0;
		transition: 0.2s;
		color: white;
		font-size: 20px;
		padding: 0;
	}

	button:hover {
		color: lightgray;
		cursor: pointer;
	}

	input {
		background: none;
		border: none;
		width: calc(100% - 100px);
		height: 30px;
		padding: 0 20px;
		text-align: center;
		color: white;
		font-weight: bold;
		border-bottom: 1px solid transparent;
		text-shadow: 1px 1px 0 black;
	}
}

.itemCard:hover {
	button {
		opacity: 1;
	}
}

.completed {
	opacity: 0.5;
}
